#create footer with recommended links
<!--       <ul class="flex justify-center space-x-6"> -->
<!--         <li><a href="#" class="text-white hover:text-blue-500 transition">Home</a></li> -->
<!--         <li><a href="#" class="text-white hover:text-blue-500 transition">About</a></li> -->
<!--         <li><a href="#" class="text-white hover:text-blue-500 transition">Projects</a></li> -->
<!--         <li><a href="#" class="text-white hover:text-blue-500 transition">Contact</a></li> -->
<!--       </ul> -->
<!--       <p class="mt-4">© 2021 Molham Team. All rights reserved.</p> -->